db.sqlite3
**/__pycache__
venv
.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/nginx/logs/nginx-access.log
/nginx/logs/nginx-error.log