[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
dj-database-url = "==0.5.0"
psycopg2-binary = "==2.8.6"
pytz = "==2020.5"
sqlparse = "*"
Django = "==2.1.15"
pyjwt = "==2.0.0"

[dev-packages]

[requires]
python_version = "3.8"
