asgiref==3.3.1
attrs==20.3.0
botocore==1.19.43
cement==2.8.2
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.3
Django==3.1.4
django-cors-headers==3.6.0
future==0.16.0
gunicorn==20.0.4
idna==2.10
ipython-genutils==0.2.0
jmespath==0.10.0
jsonschema==3.2.0
jupyter-core==4.7.0
nbformat==5.0.8
pathspec==0.5.9
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.24.0
semantic-version==2.5.0
six==1.15.0
sqlparse==0.4.1
termcolor==1.1.0
traitlets==5.0.5
urllib3==1.25.11
wcwidth==0.1.9
