container_commands:
  01_migrate:
    command: "/opt/python/run/venv/bin/python manage.py makemigrations && /opt/python/run/venv/bin/python manage.py makemigrations board && /opt/python/run/venv/bin/python manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: DjangoCRUDBoard.settings